{% extends 'base.html.twig' %}

{% block body %}

{% if error %}
<div class="alert alert-danger">{{ error.messageKey }}</div>
{% endif %}

<div class="container mt-5 shadow p-5 bg-white">
    <h1 class="text-center mb-5">Connectez-vous</h1>
    <form method="post" class="row g-3 justify-content-center">
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="_username" id="email" value="{{ last_username }}" class="form-control" required>
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Mot de passe</label>
            <div class="input-group">
                <input type="password" name="_password" id="user_password" class="form-control" required>
                <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">
                    <i class="bi bi-eye" id="eye"></i>
                    <i class="bi bi-eye-slash d-none" id="eye-slash"></i>
                </button>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <input type="hidden" name="_target_path" value="/">
            <button type="submit" class="btn btn-success mt-3">Connexion</button>
            <a href="/user/new/" class="btn btn-outline-secondary mt-3 ms-1">Vous n'avez pas de compte ? Inscrivez-vous</a>
        </div>
    </form>
</div>
{% endblock %}