{% extends 'base.html.twig' %}


{% block body %}


<div class="d-flex justify-content-around flex-wrap mt-5">
    {% for picdishe in picdishes %}
        <div class="card text-bg-dark my-3" width="100" > 
          <img src={{ picdishe.image }} alt= {{ picdishe.title }} class="card-img rounded-circle" height="300px" width="100">
          <div class="card-img-overlay">
            <h5 class="card-title text-white text-center">{{ picdishe.title }}</h5>
            <p class="card-text text-white"><small>Last updated 3 mins ago</small></p>

          
            <a href="#" class="btn btn-danger">Supprimer</a>
            <a href="#" class="btn btn-warning">Modifier</a>
          

      </div>
    </div>
    {% endfor %}

</div>

<div class="d-flex justify-content-center mt-5">

      <a href="#" class="btn btn-primary btn-lg active" style="background-color: #ffac44;" role="button" aria-pressed="true">Reserver une table</a>

</div>

{% endblock %}
