



body {
    min-height: 100vh;
    background-color: #f7e4c7;
    color: #774c0d;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.sizeMenu {
    height: 2000px;
    width: 2000px;
    
}

.police {
    font-size: 17px;
    
}



.btn {
    color: white;
    border: #f7e4c7 solid 1px;
}

.cardColor {
    background-color: #f7e4c7;
}

.black {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }

.logo {
    height: 100px;
    width: 100px;
}

.card-img-top {
    height: 600px;
    width: 50%;
    border: thick double rgb(119, 76, 13);
}

@media screen and (min-width: 320px) and (max-width : 750px) {
    .card-img-top {
      height: 250px;
      width: 50%;
  
    }
}