body {
    min-height: 100vh;
    background-color: #f7e4c7;
    color: #774c0d;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}

.sizeMenu {
    height: 2000px;
    width: 2000px;
    
}

.police {
    font-size: 17px;
    
}

.card-title:hover {
    display: block; /* Afficher le titre lors du survol */
  }

  .card-title {
    display: none; /* Masquer le titre par défaut */
  }


.btn {
    color: white;
    border: #f7e4c7 solid 1px;
}

.cardColor {
    background-color: #f7e4c7;
}

.black {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }

.logo {
    height: 100px;
    width: 100px;
}

